.errorWindow {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-allert-100);
    line-height: 0.2rem;
   
  }
  
  .errorMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-allert-100);
  }
  
  .form {
    max-width: 30rem;
    margin: 1rem auto;
    display: block;
   
  }
  
  .form-control {
    margin-bottom: 1.4rem;
    position: relative;
  }
  
  .form-control input,
  .form-control label {
    display: flex;
    padding-left: 0.3rem;
  }

  .form-control input::placeholder {
    font-size: 12px;
    color: black; /* set the font size to 16 pixels */
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.2rem;
     
  }
  
  .form-control input,
  .form-control select {
    font: inherit;
    padding: 0.3rem;
    border-radius: 10px;
    border: 1px;
    width: 30rem;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .form-control input:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
  }
  
  .control-group {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
  }
  
  .control-group .form-control {
    min-width: 15rem;
    flex: 1 1 100%;
  }
  
   button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    border: none;
    background-color: var( --color-gray-600);
   border: 2px solid var(--color-primary-100);
    color: var(--color-primary-400);
    cursor: pointer;
  }
  
   button:hover,
   button:active {
    background-color: var(--color-primary-400);
    border-color: var(--color-gray-600);
    color: var(--color-gray-900);
  }
  
  button:disabled,
  button:disabled:hover,
  button:disabled:active {
    background-color: #ccc;
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .form-actions button, 
  .form-actions a {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.4rem 1.1rem;
    border-radius: 20px;
  
  }
  .form-actions a {
   color: var(--color-primary-400);
   font-size: 1rem;
   text-decoration: none;
  }
  
  .form-actions a:hover,
  .form-actions a:focus{
  color: var(--color-primary-900);
  }
  
  .invalid input {
    border: 1px solid var(--color-allert-100);
    background-color: #fddddd;
  }
  
  .invalid input:focus {
    border-color: var(--color-allert-100);
    background-color: #fbe8d2;
  }
  
  .error-text {
    font-size: 0.8rem;
    color: var(--color-allert-100);
    margin-top: 4px;
    margin-left: 0.5rem;
    position: absolute;
    bottom: -2.3rem;
  }
  
  .form-actions .link {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.4rem 1.4rem;
    border-radius: 20px;
    color: var(--color-primary-400);
    cursor: pointer; 
  }
  
  
  
  