.header {
  background: #19191a;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.list {
  display: flex;
  gap: 1.5rem;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
  padding: 0 0.4rem;
  padding-bottom: 0.7rem;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  
}

.btn {
  background-color: var(--color-gray-900);
  color: var(--color-primary-400);
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--color-primary-800);
  background-color: var(--color-gray-900);
}
